In [1]:
import pandas as pd

In [59]:
a = pd.read_csv('data.csv', 'utf-8', delimiter = ',', engine = 'python')

In [60]:
a.drop(['variant', 'images', 'verified','date', 'title', 'author', 'url', 'product' ], axis = 1, inplace = True)

In [61]:
a

                                               content  rating
0    Ho acquistato questa confezione di mascherine ...       4
1    Attenzione, ha un ferretto nasale in plastica ...       1
2    La confezione di cartone era già aperta, appen...       1
3    Mascherine vendute come "Maschera Chirurgica 3...       1
4                     ARRIVATO APERTO PESSIMO PRODOTTO       1
..                                                 ...     ...
455  Pacco arrivato nei tempi previsti e ben imball...       1
456  Abbiamo acquistato questa confezione di toppe ...       1
457  Rispetto alle toppe in dotazione sono molto pi...       5
458  Comprati in sostituzione a quelli già presenti...       5
459  ho comprato due pacchi di toppe (sono 6 toppe ...       2

[460 rows x 2 columns]

In [62]:
a.to_csv('TrainDataSentiment.csv')